Repository edutrackr/edutrackr-ai, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, testing, api, resources, samples

fix: update test_suite.py imports
  tests/test_suite.py
Labels: testing

chore: add python-app.yml
  .github/workflows/python-app.yml
Labels: none

chore: update requirements.txt
  requirements.txt
Labels: documentation

chore: update requirements.txt
  requirements.txt
Labels: documentation

chore: add LICENSE
  LICENSE
Labels: none

.github/labeler.yml:

documentation:
  - '**/*.md'
  - '**/*.txt'
  - 'docs/**'

testing:
  - 'tests/**'

configuration:
  - all:
    - '.github/**'
    - '.vscode/**'
    - '.editorconfig'
    - '.gitattributes'
    - '.gitignore'
    - 'Dockerfile'
    - 'docker-compose*.yml'
    - 'docker-compose.yml'

api:
  - 'api/**'

resources:
  - 'resources/**'

samples:
  - 'samples/**'
